
body {
  height: 1000px;
  margin: 0; padding: 0;
  background: #242524;
  color: #d4d5d3;
  font-size: 18px;
}

h1 {
  font-size: 32px;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 26px;
}

button {
  width: 146px;
  padding: 1px 6px;
  border-width: 1px 2px;
  margin: 2px;
}

a { color: #80c050; text-decoration: none; }
a:hover { color: #a0ea70; text-decoration: underline; }
a:active { color: #509020; }
a:visited { color: #90c080; }

#recipe, #controls {
  width: 600px;
  margin: 70px auto;
}

span.character-animation {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.shown-text { }
.hidden-text { visibility: hidden; }

/* TODO: do something with the waiting-to-animate, is-animating, done-animating classes? */

.waiting-to-animate {
  overflow: visible;
  opacity: 0;
}

.is-animating {
  overflow: visible;
  opacity: 1;
}

.done-animating {
  opacity: 1;
}
