<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>Text Animation</title>

  <link id="stylesheet" rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
  <noscript>:( Sorry, but this fancy web app requires JavaScript.</noscript>

  <div id="controls">
    <div id="buttons"></div>
    <div id="custom">
      <!-- TODO -->
    </div>
  </div>

  <div id="recipe">
    <h1> Guacamole </h1>

    <p>Recipe courtesy of <a href="http://www.foodnetwork.com/chefs/alton-brown.html" target="_blank">Alton Brown</a>.</p>

    <h2>Ingredients</h2>
    <ul>
      <li>3 Haas avocados, halved, seeded and peeled</li>
      <li>1 lime, juiced</li>
      <li>1/2 teaspoon kosher salt</li>
      <li>1/2 teaspoon ground cumin</li>
      <li>1/2 teaspoon cayenne</li>
      <li>1/2 medium onion, diced</li>
      <li>1/2 jalapeno pepper, seeded and minced</li>
      <li>2 Roma tomatoes, seeded and diced</li>
      <li>1 tablespoon chopped cilantro</li>
      <li>1 clove garlic, minced</li>
    </ul>

    <h2>Directions</h2>
    <p>In a large bowl place the scooped avocado pulp and lime juice, toss to coat. Drain, and reserve the lime juice, after all of the avocados have been coated. Using a potato masher add the salt, cumin, and cayenne and mash. Then, fold in the onions, jalapeno, tomatoes, cilantro, and garlic. Add 1 tablespoon of the reserved lime juice. Let sit at room temperature for 1 hour and then serve.</p>
  </div>

  <script type="text/javascript" src="/js/config.js"></script>
  <script type="text/javascript" src="/js/util.js"></script>
  <script type="text/javascript" src="/js/log.js"></script>
  <script type="text/javascript" src="/js/AnimationElementNode.js"></script>
  <script type="text/javascript" src="/js/AnimationTextNode.js"></script>
  <script type="text/javascript" src="/js/CharacterAnimation.js"></script>
  <script type="text/javascript" src="/js/TextAnimationJob.js"></script>
  <script type="text/javascript" src="/js/textAnimator.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
